{% extends "base.html" %}

{% block title %}About | Understanding Pacific Island & Territories Climate Chaneg{% endblock %}

{% block content %}
<h1 style="color: var(--primary-color); text-align: center; margin-bottom: 40px;">About the Project</h1>

<div class="card">
    <h2>The Challenge</h2>
    <p>
        The <a href="https://pacificdatavizchallenge.org/" target="_blank">Pacific Dataviz Challenge</a> highlights a critical reality: 
        Pacific Island countries are uniquely vulnerable to the impacts of climate change. From rising sea surface temperatures disrupting local marine ecosystems 
        to shifting weather patterns threatening agricultural yields, the consequences are multi-faceted. 
    </p>
    <p>
        One primary obstacle for policymakers and stakeholders is making sense of open source data to better understand the impact. 
        There is an urgent need to translate abstract data into tangible, localized narratives that clearly illustrate vulnerabilities and pathways to resilience.
    </p>
</div>

<div class="card">
    <h2>The Application</h2>
    <p>
        This web application is built to answer that challenge. By leveraging a clear narrative and data visualization, 
        the app bridges the gap between raw data and public comprehension. It is built using fastAPI, Pandas, Plotly and Vercel.
    </p>
</div>

<!----- Update this when you finalize the datasets --->
<!-- <div class="card">
    <h2>Data</h2>
    
    <h4 style="margin-bottom: 5px;">Ocean & Atmospheric Health</h4>
    <ul style="margin-top: 0;">
        <li>Mean sea surface temperature anomalies </li> <a href="https://pacificdatavizchallenge.org/" target="_blank">
        <li>Meteorological monitoring network (disaggregated)</li>
    </ul>

    <h4 style="margin-bottom: 5px;">Agro-Ecosystems & Food Security</h4>
    <ul style="margin-top: 0;">
        <li>Crop yield (disaggregated)</li>
        <li>Livestock yield (disaggregated)</li>
    </ul>

    <h4 style="margin-bottom: 5px;">Socio-Economics & Infrastructure</h4>
    <ul style="margin-top: 0;">
        <li>Tourist arrivals (disaggregated)</li>
        <li>Power generation (disaggregated)</li>
        <li>Environmental taxes (disaggregated)</li>
    </ul>
</div> -->
{% endblock %}
